<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments.html :: head"></div>


<body>
	<header>
		<div th:insert="fragments.html :: menu"></div>
	</header>
    
    <table>
    <tr th:each="userDetails,iterationCount : ${userDetails}" th:class="${iterationCount.odd}? 'odd'" th:object="${userDetails}"	>			
			<td th:text="*{id}">1</td>
			<td><a th:text="*{firstName}" th:href="@{userDetails/} + *{id}">USER</a></td>
		</tr>
	</table>	
	
	<footer th:insert="fragments.html :: footer"></footer>

</body>
</html>