<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments.html :: head"></div>


<body>
	<header>
		<div th:insert="fragments.html :: menu"></div>
		<h1><span th:text="#{userDetails.heading}">A user</span></h1>
	</header>
	
	<table>
		<tr>
			<th th:text="#{userDetials.id}">ID</th>
		</tr>
		<tr th:each="userDetails,iterationCount : ${userDetails}" th:class="${iterationCount.odd}? 'odd'" th:object="${userDetails}"	>			
		<tr th:object="${userDetails}">
			<td th:text="*{firstName}">FirstName</td>
			<td th:text="*{email}">Email</td>
		</tr>
	</table>
	
	<footer th:insert="fragments.html :: footer"></footer>

</body>
</html>